.node circle {
    fill: #fff;
    stroke-width: 2px;
}

.node {
    font: 10px sans-serif;
    cursor: pointer;
}

.img-thumbnail {
    height: 100px;
    width: 150px;
}

.link {
    fill: none;
    stroke-width: 3px;
    opacity: 0.25;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 150px;
    padding: 8px;
    font: 12px sans-serif;
    background: #ffffff;
    border: solid 1px #aaa;
    border-radius: 8px;
    pointer-events: none;
}

#filters {
    text-align: center;
}

#dendogram {
    text-align: center;
}