.node {
  cursor: pointer;
}

.node:hover {
  stroke: #1ED760;
  stroke-width: 3px;
}

.label {
  font: 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-anchor: middle;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
}

.tooltip {
  position: absolute;
  text-align: center;
  width: 150px;
  padding: 8px;
  font-size: 12px;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 8px;
  pointer-events: none;
}

.tooltip img {
  max-width:150px
}

#viz {
  text-align: center;
}